*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background-color: #24408b;
    color: white;
}

.column{
    width: 80%;
    margin: 0 auto;
    max-width: 750px;
    padding: 30px;
}
